<nav>
    <div class = "site-title">
        <a href="/"> <h1>Exercise Tracker</h1></a>
        <p>Author: Adnan Habib</p>
    </div>
    <ul>
        <li><a href="/create-user">Create User</a></li>
        <li><a href = "/api/exercise/users">All User Exercises</a></li>
        <li><a href = "/about">About</a></li>
        <li><a href = "/exercise/add">Add New Exercise</a></li>
        <li></li>
    </ul>
</nav>