<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.ejs'); -%>
<body>
    <%- include ('partials/nav.ejs'); -%>
    <div class = "about content"></div>
    <h2>About</h2>
</body>
<p>Exercie Tracker App</p>
</html>